div.inpit-dropdown__container {
  max-height: 40px;
  min-height: 20px;
  min-width: 100px;
  max-width: 200px;
  z-index: 1000;
}

button.inpit-dropdown__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #FB667A;
  border-radius: 6px;
  background: #FB667A;
  height: 100%;
  width: 100%;
  padding: 6px;
  position: relative;
  text-align: left;
}

button.inpit-dropdown__button:hover {
  cursor: pointer;
}

ul.inpit-dropdown__options {
  border-bottom: 2px solid blue;
  border-left: 2px solid blue;
  border-right: 2px solid blue;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: gray;
  color: black;
  display: none;
  list-style: none;
  padding: 0;
  margin-top: -4px;
  width: 100px;
  z-index: 1000;
}

ul.show {
  display: block;
  position: absolute;
}

ul.inpit-dropdown__options li {
  padding: 6px 10px;
}

ul.inpit-dropdown__options li:active,
ul.inpit-dropdown__options li:focus,
ul.inpit-dropdown__options li:hover,
ul.inpit-dropdown__options li[aria-selected="true"] {
  background: lightgreen;
  cursor: pointer;
}

.dropdown__arrow {
  height: 70%;
  width: 20%;
}

.dropdown__text {
  width: 50%;
}

.left-icon {
  height: 70%;
  width: 20%;
}